name: Ghazwan_Pro_Titanium

on:
  schedule:
    - cron: '0 */4 * * *' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Collect Titanium Elite Servers
        run: |
          # 1. إعداد الترويسة بالاسم الجديد
          TIMESTAMP=$(date -u -d "+3 hours" '+%Y-%m-%d %I:%M %p')
          echo "###############################################" > mysubs_new.txt
          echo "# BRAND: Ghazwan_Pro_Titanium" >> mysubs_new.txt
          echo "# STATUS: ELITE TLS - PORT 443 ONLY" >> mysubs_new.txt
          echo "# UPDATE: $TIMESTAMP" >> mysubs_new.txt
          echo "###############################################" >> mysubs_new.txt
          
          touch raw.txt
          # المصادر القوية التابعة لـ Fr33C0nfig و YamYam
          urls=(
            "https://raw.githubusercontent.com/yebekhe/TelegramV2rayCollector/main/sub/normal/mix"
            "https://raw.githubusercontent.com/tina-v2ray/V2Ray-Config/main/All_Configs_Sub.txt"
            "https://raw.githubusercontent.com/MahdiHoseinZade/V2rayCollector/main/sub/sub_merge.txt"
          )

          for url in "${urls[@]}"; do
            curl -sL "$url" >> raw.txt
          done
          
          # 2. الفلترة الصارمة (بورت 443 + TLS) لضمان أعلى استقرار بالعراق
          grep -iE ":443" raw.txt | grep -Ei "
