name: Ghazwan_pro

on:
  schedule:
    - cron: '0 */4 * * *' 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Inject Host and Set Brand Name
        run: |
          # 1. إعداد ترويسة الملف
          TIMESTAMP=$(date -u -d "+3 hours" '+%Y-%m-%d %I:%M %p')
          echo "###############################################" > mysubs.txt
          echo "# BRAND: Ghazwan_pro" >> mysubs.txt
          echo "# UPDATE: $TIMESTAMP (BAGHDAD)" >> mysubs.txt
          echo "###############################################" >> mysubs.txt
          
          # 2. جمع السيرفرات من المصادر (بما فيها WangCai)
          touch raw_data.txt
          curl -sL "https://shz.al/~WangCai" >> raw_data.txt
          curl -sL "https://raw.githubusercontent.com/barry-far/V2ray-Config/main/All_Configs_Sub.txt" >> raw_data.txt
          curl -sL "https://raw.githubusercontent.com/MahdiHoseinZade/V2rayCollector/main/sub/sub_merge.txt" >> raw_data.txt
          curl -sL "https://raw.githubusercontent.com/barry-far/V2ray-Config/refs/heads/main/Sub1.txt
          # 3. تنظيف البيانات (إبقاء المنافذ 443/80 وحذف SS)
          grep -E ":443|:80" raw_data.txt | grep -v "^ss://" | sort -u > clean_data.txt

          # 4. العملية المزدوجة: تغيير العنوان (Address) + تغيير الاسم إلى Ghazwan_pro
          # سنقوم بمسح كل شيء بعد علامة # ونكتب اسمك مكانه
          
          # Viberout-lp.viber.com
          sed -E 's/@[^:]+:/@Viberout-lp.viber.com:/g' clean_data.txt | head -n 300 | sed 's/#.*/#Ghazwan_pro/' >> mysubs.txt
          
          # lp.viber.com
          sed -E 's/@[^:]+:/@lp.viber.com:/g' clean_data.txt | sed -n '301,600p' | sed 's/#.*/#Ghazwan_pro/' >> mysubs.txt
          
          # braze-images.com
          sed -E 's/@[^:]+:/@braze-images.com:/g' clean_data.txt | sed -n '601,900p' | sed 's/#.*/#Ghazwan_pro/' >> mysubs.txt
          
          # cdn.braze.com
          sed -E 's/@[^:]+:/@cdn.braze.com:/g' clean_data.txt | sed -n '901,1200p' | sed 's/#.*/#Ghazwan_pro/' >> mysubs.txt
          
          # go.braze.com
          sed -E 's/@[^:]+:/@go.braze.com:/g' clean_data.txt | sed -n '1201,1500p' | sed 's/#.*/#Ghazwan_pro/' >> mysubs.txt

      - name: Push to Master
        run: |
          git config --global user.name "Ghazwan_pro"
          git config --global user.email "ghazwan@pro.com"
          git add mysubs.txt
          git diff --quiet && git diff --staged --quiet || (git commit -m "Ghazwan_pro Brand Injected $TIMESTAMP" && git push)
